<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/pngegg.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Books Library!</h1>
    <p class="lead">
      Find your favourite books and help us build a large database of popular books!.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/explore-all" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore All</a>
      <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>

  </div>

</div>


<!-- Categories Start -->


<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">


  <% if(categories != '') { %>
    <% categories.forEach(function(category, index) { %>
      <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
      </a>
    <% }) %>
  <% } %>

</div>
<!-- Categories End -->



<!-- Latest Start -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Books</h2>
    <a href="/explore-all" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(literary != '') { %>
      <% literary.latest.forEach(function(book, index){ %>
      <a href="/book/<%= book._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= book.image %>" alt="<%= book.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= book.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>

</section>
<!-- Latest End -->

<!-- action Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Action Books</h2>
    <a href="/categories/action" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(typeof literary.action !== 'undefined' && literary.action.length > 0) { %>
      <% literary.action.forEach(function(book, index){ %>
      <a href="/book/<%= book._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= book.image %>" alt="<%= book.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= book.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- Action End -->

<!-- Romance Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Romance Books</h2>
    <a href="/categories/Romance" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(literary.romance != '') { %>
      <% literary.romance.forEach(function(book, index){ %>
      <a href="/book/<%= book._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= book.image %>" alt="<%= book.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= book.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- Romance End -->

<!-- Fiction Books -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Fiction Books</h2>
    <a href="/categories/Fiction" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(literary.fiction != '') { %>
      <% literary.fiction.forEach(function(book, index){ %>
      <a href="/book/<%= book._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= book.image %>" alt="<%= book.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= book.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- Fiction End -->
